.container {
	display: grid;
	grid-template-columns: 4fr 1fr;
}
.Meals {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 30px;
	margin: 50px;
}
.meals-sidebar {
	background-color: orange;
	text-align: center;
	color: whitesmoke;
}
